html {
    height: 100%;
}

body {
    background-color: #E9E9E9;
    height: 100%;
}

iframe {
    border: 0;
}

#Content {
    background-color: #FFFFFF;
}

#Register, #Login {
    width: 500px;
    margin: 50px auto 75px auto;
    background-color: #F7F7F7;
    border-radius: 15px;
    box-shadow: 0 0 10px 5px #AFAFAF;
}

#RegisterButton, #LoginButton, #BackButton {
    width: 370px;
}
