<div id="Home">

    <h1 class="text-center">SKUPŠTINA GRADA </h1>
    <h4 class="text-center">Skupština Grada Novog Sada, u skladu sa zakonom:</h4>

    <div class="alert alert-warning" role="alert">
    <ol>
        <li>donosi Statut Grada i Poslovnik Skupštine;</li>

        <li>donosi budžet Grada i završni račun budžeta Grada;</li>

        <li>donosi program razvoja Grada i pojedinih delatnosti;</li>

        <li>donosi urbanističke planove i uređuje korišćenje građevinskog zemljišta;</li>

        <li>donosi propise i druge opšte akte;</li>

        <li>raspisuje gradski referendum i referendum na delu teritorije Grada, izjašnjava se o predlozima sadržanim u građanskoj inicijativi, i utvrđuje predlog odluke o samodoprinosu;</li>

        <li>osniva službe, komunalna javna i druga javna preduzeća, ustanove i organizacije, i vrši nadžor nad njihovim radom;</li>

        <li>osniva organe, organizacije i službe za potrebe Grada i uređuje njihovu organizaciju i rad;</li>

        <li>imenuje i razrešava upravne i nadžorne odbore, postavlja i razrešava direktore komunalnih javnih i drugih javnih preduzeća, ustanova, organizacija i službi, čiji je osnivač Grad, i daje saglasnost na statute, statusne promene,povećanje i smanjenje glavnice i kriterijume za raspodelu dobiti, godišnje programe poslovanja i druga programska akta u skladu sa zakonom;</li>

        <li>odlučuje o dodeljivanju priznanja, nagrada i zvanja počasnog građanina Grada;</li>

        <li>bira predsednika Skupštine i zamenika predsednika Skupštine;</li>

        <li>bira članove Gradskog veća na predlog Gradonačelnika;</li>

        <li>postavlja i razrešava sekretara i zamenika sekretara Skupštine, na predlog predsednika Skupštine;</li>

        <li>postavlja i razrešava načelnike gradskih uprava na predlog Gradonačelnika;</li>

        <li>obrazuje Savet za razvoj i zaštitu lokalne samouprave;</li>

        <li>postavlja građanskog branioca (ombudsmana);</li>

        <li>osniva stalna i povremena radna tela za razmatranje pitanja iz svoje nadležnosti i bira predsednika, zamenika i članove radnih tela;</li>

        <li>utvrđuje izbor, delokrug, sastav i način rada Saveta za međunacionalne odnose;</li>

        <li>utvrđuje gradske takse i druge lokalne prihode koji po zakonu pripadaju Gradu;</li>

        <li>utvrđuje naknadu za uređivanje i korišćenje građevinskog zemljišta, utvrđuje visinu naknade za održavanje stambenih zgrada kojima upravlja, kao i kriterijume i način plaćanja troškova održavanja poslovnih prostorija i stanova u kojima se obavlja poslovna delatnost, i utvrđuje poresku stopu na fond zarada, u skladu sa zakonom;</li>

        <li>donosi odluku o javnom zaduživanju Grada;

        <li>osniva ustanove i organizacije u oblasti turizma, obezbeđuje uslove za uređenje turističkih mesta i razvoj i unapređenje komunalnih, sportskorekreativnih i drugih delatnosti koje doprinose razvoju turizma, kao i uslove za organizovanje turističko-informativne i propagandne delatnosti, uređuje radno vreme ugostiteljskih, trgovinskih i zanatskih objekata i druge uslove njihovog rada i poslovanja, utvrđuje uslove korišćenja i način upravljanja prirodnim izvorima;</li>

        <li>daje mišljenje o republičkom, pokrajinskom i regionalnom prostornom planu;</li>

        <li>daje mišljenje o zakonima kojima se uređuju pitanja od interesa za Grad;</li>

        <li>pokreće postupak za zaštitu prava Grada pred Ustavnim sudom;</li>

        <li>daje saglasnost na upotrebu imena, grba i zastave Grada;</li>

        <li>donosi odluku o osnivanju fondova i finansijske programe o obezbeđivanju sredstava za finansiranje javnih rashoda;</li>

        <li>uređuje opšte uslove za uređenje naselja na teritoriji Grada, korišćenje javnih i drugih površina i uslove i način korišćenja prostora za parkiranje;</li>

        <li>uređuje i obezbeđuje obavljanje komunalnih delatnosti i njihov razvoj, uređuje uslove i način organizovanja poslova u obavljanju komunalnih delatnosti, kao i druga pitanja od značaja za njihovo obavljanje;</li>

        <li>uređuje uslove i način izgradnje, odnosno postavljanja i uklanjanja objekata na javnim površinama u naseljenim mestima i na neizgrađenom građevinskom zemljištu, i uređuje uslove za uklanjanje objekata koji predstavljaju neposrednu opasnost za život i zdravlje ljudi, za susedne objekte i bezbednost saobaćaja;</li>

        <li>određuje područja na kojima se mogu obavljati određene vrste poslovnih delatnosti , kao i način odlaganja komunalnog otpada;</li>

        <li>uređuje uslove izgradnje i održavanja ulica i trgova, lokalnih puteva, u naseljima uređuje upravljanje tim putevima i ulicama i odobrava njihovu izgradnju;</li>

        <li>uređuje organizaciju i način obavljanja javnog prevoza putnika koji se obavlja na teritoriji Grada;</li>

        <li>određuje lokacije i uređuje uslove izgradnje, zaštite i održavanja grobalja, i uređuje uslove i način sahranjivanja i način organizovanja tih poslova, odnosno održavanje spomenika i spomen - obeležja od značaja za kulturno - istorijsku tradiciju;</li>

        <li>osniva ustanove i organizacije u oblasti osnovnog obrazovanja, imenuje i razrešava članove školskog odbora osnovnih i srednjih škola, uređuje izgradnju, rekonstrukciju, investiciono i tekuće održavanje osnovnih i srednjih škola, daje saglasnost na statute osnovnih škola i obezbeđuje opremanje, sredstva za materijalne troškove i amortizaciju osnovnih i srednjih škola;</li>

        <li>uređuje uslove i način obezbeđivanja prevoza učenika koji stanuju na udaljenosti većoj od četiri kilometra od sedišta osnovne škole, a za učenike ometene u razvoju uređuje prevoz, bez obzira na udaljenost stana od škole ishranu i smeštaj, ako na teritoriji Grada nema odgovarajuće osnovne škole;</li>

        <li>osniva ustanove i organizacije u oblasti primarne zdravstvene zaštite, dečije i socijalne zaštite, prati i obezbeđuje njihovo funkcionisanje, utvrđuje mrežu ustanova za decu i načine i uslove regresiranja troškova boravka dece iz materijalno ugroženih porodica u predškolskoj ustanovi, daje saglasnost na statute ustanova primarne zdravstvene zaštite i obezbeđuje izgradnju, dogradnju, opremanje i osavremenjavanje i uslove za rad ustanova socijalne zaštite i društvene brige o deci;</li>

        <li>osniva ustanove i organizacije u oblasti kulture, fizičke kulture i sporta, prati i obezbeđuje njihovo funkcionisanje i obezbeđuje izgradnju, održavanje i korišćenje sportskih objekata, donosi odluke o organizovanju i održavanju sportskih takmičenja i manifestacija od značaja za Grad, obezbeđuje uslove za rad sportskih stručnjaka u organizacijama u oblasti sporta na teritoriji Grada;</li>

        <li>obezbeđuje zaštitu kulturnih dobara, osim kulturnih dobara od izuzetnog i velikog značaja, i razvoj umetničkog stvaralaštva;</li>

        <li>donosi akt o stavljanju pod zaštitu određenog prirodnog dobra;</li>

        <li>osniva biblioteke i obezbeđuje uslove za prikupljanje, obradu, čuvanje i davanje na korišćenje knjiga i drugih publikacija, i uslove za rad;</li>

        <li>obezbeđuje izgradnju, rekonstrukciju i održavanje objekata ustanova kulture čiji je osnivač, u kojima se ostvaruju potrebe kulture građana u Gradu, obezbeđuje rad, održavanje i ostvarivanje programa ustanova kulture od značaja za Grad;</li>

        <li>donosi odluku o udruživanju sredstava i saradnji sa drugim gradovima i opštinama, nevladinim organizacijama i humanitarnim organizacijama;</li>

        <li>donosi odluku o udruživanju u međunarodne organizacije lokalne vlasti, kao i o saradnji sa odgovarajućim jedinicama lokalnih vlasti drugih zemalja;</li>

        <li>utvrđuje mere za slučaj neposredne opasnosti od elementarnih nepogoda i određuje mere za ublažavanje i otklanjanje neposrednih posledica od elementranih nepogoda;</li>

        <li>donosi osnove zaštite, korišćenja i uređenja poljoprivrednog zemljišta i stara se o njihovom sprovođenju, određuje erozivna područja i propisuje protiverozivne mere;</li>

        <li>utvrđuje nazive ulica,trgova,gradskih četvrti, zaselaka i drugih delova naseljenog mesta na teritoriji Grada;</li>

        <li>donosi godišnji program o pribavljanju nepokretnosti za potrebe organa Grada;</li>

        <li>razmatra izveštaje o radu i daje saglasnost na program rada korisnika budžeta Grada, i obavlja i druge poslove utvrđene zakonom i ovim statutom.</li>
    </ol>
    </div>
</div>