<div class="pl-50 pr-50 pb-50 pt-20">
    <div class="mt-50">
        <table class="table table-bordered table-striped table-hover" ng-if="data.length">
            <tr>
                <th>Title</th>
                <th></th>
            </tr>
            <tr ng-repeat="act in data">
                <td>{{ act.title }}</td>
                <td><button class="btn btn-danger" ng-click="delete(act.uri)" ng-disabled="currentStatus != 'act'">Delete</button></td>
            </tr>
        </table>
        <div ng-if="!data.length">
            <b>No acts</b>
        </div>
    </div>

</div>