<div class="pl-50 pr-50 pb-50 pt-20">
    <div class="mt-50">
        <h1>My Acts</h1>
        <h4>A list of all the acts you've created!</h4>
        <table class="table table-bordered table-striped table-hover" ng-if="data.length">
            <tr>
                <th class="text-center">Title</th>
                <th colspan="2" class="text-center">Export To</th>
                <th class="text-center">Operation</th>
            </tr>
            <tr ng-repeat="act in data">
                <td>{{ act.title }}</td>
                <td><button class="btn btn-warning" ng-click="openPdf(act.uri)">PDF</button></td>
                <td><button class="btn btn-info" ng-click="showHtml(act.uri)">HTML</button></td>
                <td><button class="btn btn-danger" ng-click="delete(act.uri)" ng-disabled="currentStatus != 'act'">Delete</button></td>
            </tr>
        </table>
        <div ng-if="!data.length">
            <div class="alert alert-warning" role="alert"><b>Currently you have no Acts, you can propose new Acts on the "Propose Act" tab</b></div>
        </div>
    </div>

</div>