<div class="pl-50 pr-50 pb-50 pt-20">
    <div class="mt-50">
        <h1>My Amendments</h1>
        <h4>A list of all the amendments you've created!</h4>
        <table class="table table-bordered table-striped table-hover" ng-if="data.length">
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th colspan="2" class="text-center">Export To</th>
                <th colspan="2" class="text-center">Related to act</th>
                <th>Operation</th>
            </tr>
            <tr ng-repeat="amendment in data">
                <td>{{ amendment.name }}</td>
                <td>{{ amendment.status }}</td>
                <td><button class="btn btn-warning" ng-click="openPdf(amendment.uri)">PDF</button></td>
                <td><button class="btn btn-info" ng-click="showHtml(amendment.uri)">HTML</button></td>
                <td><button class="btn btn-warning" ng-click="openActPdf(amendment.act)">PDF</button></td>
                <td><button class="btn btn-info" ng-click="showActHtml(amendment.act)">HTML</button></td>
                <td><button class="btn btn-danger" ng-click="delete(amendment.uri)" ng-disabled="currentStatus != 'amendment'">Delete</button></td>
            </tr>
        </table>
        <div ng-if="!data.length">
            <div class="alert alert-warning" role="alert"><b>Currently you have no Amendments, you can propose one by updating an Act</b></div>
        </div>
    </div>

</div>