<div id="Sessions" class="pl-50 pr-50 pb-50 pt-20">
    <h2 class="mb-10">Assembly sessions</h2>

    <div ng-if="state==='createNew'">
        <h4>Create new</h4>
        <table class="table table-bordered mt-10 mb-10">
            <tr>
                <td class="col-sm-3">Place:</td>
                <td class="col-sm-3">Start date:</td>
                <td class="col-sm-3">End date:</td>
                <td class="col-sm-3"></td>
            </tr>
            <tr>
                <td class="col-sm-3">
                    <input type="text" class="form-control" placeholder="Enter place" ng-model="inputData.place" required>
                </td>
                <td class="col-sm-3">
                    <input type="datetime-local" class="form-control"  ng-model="inputData.beginDate" required>
                </td>
                <td class="col-sm-3">
                    <input type="datetime-local" class="form-control"  ng-model="inputData.endDate" required>
                </td>
                <td class="col-sm-3" >
                    <input type="button" value = "Cancel" class="btn btn-danger fl-right ml-10 mt-10" ng-click="cancel()"/>
                    <input type="button" value = "Submit" class="btn btn-success fl-right mt-10" ng-click="create()"/>
                </td>
            </tr>
        </table>
    </div>

    <br/>
    <br/>

    <button class="btn btn-primary" ng-click="getUpcoming()">Upcoming</button>
    <button class="btn btn-primary" ng-click="getFinished()">Finished</button>
    <button class="btn btn-success fl-right" ng-click="showForm()" ng-if = "state !== 'createNew' && display == 'president'">Create</button>


    <div class="pt-30">
        <h3>{{title}}</h3>
    </div>


    <table class="table table-bordered table-striped table-hover" ng-if="data.length > 0">
        <tr>
            <th>No.</th>
            <th>Place</th>
            <th>Starts</th>
            <th>Ends</th>
            <th class="ta-mid"></th>
            <th class="ta-mid" ng-if="display === 'president'"></th>
        </tr>
        <tr ng-repeat="session in data">
            <td>{{$index + 1}}</td>
            <td>{{ session.place }}</td>
            <td>{{ session.beginDate| date:'medium'}}</td>
            <td>{{ session.endDate| date:'medium'}}</td>
            <td class="ta-mid"><button class="btn btn-warning">Details</button></td>
            <td  class="ta-mid" ng-if="display==='president'">
                <button class="btn btn-primary" ng-click="addResults(session.uri)">Add results</button>
            </td>
        </tr>
    </table>
    <p ng-if="data.length === 0"><b>No results</b></p>
</div>