<div class="modal-header">
    <h3 class="modal-title">{{srmc.document.title || srmc.document.name}}</h3>
</div>
<div class="modal-body">
    <p class="alert alert-danger mt-20 mb-20" ng-if="srmc.errorMessage"><b>{{srmc.errorMessage}}</b></p>
    <label for="status">Status:</label>
    <select id="status" class="form-control" ng-options="doc for doc in srmc.documentOptions" ng-model="srmc.document.status"></select>

    <label for="votedFor">Voted for:</label>
    <input id="votedFor" class="form-control" ng-model="srmc.document.votedFor" ng-keyup="srmc.keyFn($event)">

    <label for="votedAgainst">Voted against:</label>
    <input id="votedAgainst" class="form-control" ng-model="srmc.document.votedAgainst" ng-keyup="srmc.keyFn($event)">

    <label for="notVoted">Not voted:</label>
    <input id="notVoted"  class="form-control" ng-model="srmc.document.notVoted" ng-keyup="srmc.keyFn($event)">
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="srmc.confirm()">Confirm</button>
    <button class="btn btn-warning" ng-click="srmc.cancel()">Cancel</button>
</div>
